@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/*  ----- shared common style----- */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.gray-text-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 15px 20px;
    border: none;
    margin-top: 30px;
}

/* nav section styles adding */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav li {
    list-style: none;

}

nav li>a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.menu {
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* banner section styles adding start  */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 40px auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-left: 100px;
    margin-right: 100px;
}

.banner-content .gray-text-description{
    margin-left: 100px;
    margin-right: 100px;
}

.banner .banner-img>img {
    width: 800px;
    width: 100%;
    align-items: center;

}


/* media query style for mobile device responsive */

@media screen and (max-width:576px) {
    
    nav{
        flex-direction: column;
    }
    
    header{
        padding: 0;
    
    }
    .banner-title{
        font-size: 35px;
        font-weight: 700;
    }
    .banner-img{
        margin-left: 10px;
        margin-right: 10px;
    }
} 

/* media query style for tablet or medium device responsive  */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding-left:10px;
        padding-right: 10px;
    }
}

/* main style add */

main{
    margin: 30px 240px;
}

.feature-container{
    display: grid;
}